@font-face {
  font-family: 'UhBee Sehyun';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/UhBeeSehyun/UhBeeSehyun.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/UhBeeSehyun/UhBeeSehyun.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/UhBeeSehyun/UhBeeSehyun.ttf') format('truetype');
}
